<div class="inner-body-div">

  <p>{{errorMsg}}</p>

  <h5>Enter email and a password resent link will be sent to your email address</h5><br><br>

  <form action="/resetPasswordLink" method="post">
    <label for="">Email:</label><br><br>
    <input type="email" name="email" id="">
    <button type="Submit">Submit</button><br><br>
  </form>

</div>

<div>
  {{>buttonsPartial}}
</div>
<!--buttons-->