<div class="inner-body-div">

  {{errorMsg}}

  <h5>Enter email and a password resent link will be sent to your email address</h5>

  <form action="/resetPasswordLink" method="post">
    <label for="">Email</label>
    <input type="email" name="email" id="">
    <button type="Submit">Submit</button>
  </form>

</div>

<div>
  {{>buttonsPartial}}
</div>
<!--buttons-->