<div class="inner-body-div">

  <form action="/resetPassword/{{id}}/edit" method="POST">


    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Submit</button>

  </form>

  {{errorMessage}}

</div>

<div>

  {{>buttonsPartial}}

</div>