<div class="inner-body-div">
  <h2>Reset Your Password</h2>

  <form action="/resetPassword/{{id}}/edit" method="POST">


    <label> Password:
      <input type="password" name="password" placeholder="********" />
    </label><br><br>

    <button class="btn btn-primary" type="submit">Submit</button><br><br>

  </form>

  <p = class="error">{{errorMessage}}</p>

</div>

<div>
  {{>buttonsPartial}}
</div>

<!--buttons-->