{{!-- views/auth/login.hbs --}}
<div class="inner-body-div">
  <div id="form">
    <h2>Login</h2>

    <form action="/user" method="POST">

      <label> Email
        <input type="email" name="email" placeholder="rockstar@ironhack.com" />
      </label>

      <label>Password
        <input type="password" name="password" placeholder="********" />
      </label>

      <button type="submit">Login</button>

      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div><br><br>

  <a class="button-b-link" href="/forgotPassword"> >>Forgot Password</a><br><br>
</div>

<div>

  {{>buttonsPartial}}

</div>
<!--buttons-->