<div class="inner-body-div">
  <h1>EMAIL</h1>
  <form action="/emailSent" method="post">
    <label for="">Email:</label><br>
    <input type="email" name="email"/><br>
    <label for="">Subject:</label><br><br>
    <input type="text" name="subject" /><br>
    <label for="">Message:</label><br>
    <textarea type="text" name="message" ></textarea><br><br>
    <button type="submit">Submit</button><br><br>
  </form>
</div>
<div>
  {{>buttonsPartial}}
</div>
<!--buttons-->