<div class="inner-body-div">

<h3>Address:</h3>
<p>ArtBox Gallery,<br>
100 ArtBox Street,<br>
ArtBox City,
ArtBox Country.</p><br>
<hr>
<h3>Phone Number:</h3>
<p>0000000000</p><br>
<hr>
<h3>Email:</h3>
<p>artbox@artbox.com</p>

</div>
<div>
    {{>buttonsPartial}}
</div>
<!--buttons-->