

    <div class="welcomePartial container"> 
        {{#with message}}
        {{>welcomePartial}}
        {{/with}}
    </div>

    <div class="carouselPartial">
        {{>carouselPartial}}
    </div>

    <div class="buttonsPartial"> 
        {{>buttonsPartial}}
    </div> 

       

    
    
