<a href = "/client/{{clientInSession._id}}">Account Details</a>  
 
 <!--<form id="logout-form" action="/clientLogout" method="POST">
            <button>Logout</button>
          </form>-->


<p>This is your profile page my friend!</p>


  <h2>Welcome, {{ userInSession.username }}!</h2>
  <p>This is your profile page my friend!</p>





