


  <div class="inner-body-div">
    {{#with userInSession}}
    {{>welcomePartial}}
    {{/with}}
    <img class="box-img"src="images/placeholder-box.jpg">
  </div>
    
  <div >
    {{>buttonsPartial}}
  </div>



