
<div class="inner-body-div">
    {{#each displayedExhibition}}
        <p>{{this.exhibitionName}}</p>
    {{/each}}
    <h1>la</h1>
    <h1>la</h1>
    <h1>la</h1>
    <h1>la</h1>
    <h1>la</h1>
    <h1>la</h1>
    <h1>la</h1>
    <h1>la</h1>
    <h1>la</h1>
    <h1>la</h1>
    <h1>la</h1>
    <h1>la</h1>
</div>

<div>
     {{>buttonsPartial}}
</div>

<!--buttons-->