body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #BDC3C7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2C3E50, #BDC3C7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2C3E50, #BDC3C7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width:100vw;
  background-repeat: no-repeat;
}
nav{
  background-color: aqua
}

a {
  color: #00b7ff;
}

.body-div{
  background-color: aqua;
  height:80%;
  width:100%;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
