/*------------------------MOBILE ITERATION---------------------------*/

@media screen and (max-width: 767px) {

  html {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  body {
    padding: 2% 10%;
    background: #BDC3C7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: auto;
    height: auto;
    font-size: 18px;
    margin: 0;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  nav {
    background: aqua;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, aqua);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, aqua);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4vw 3vw 4vw 3vw;
    width: 94vw;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .body-div {
    background: aqua;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, aqua);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, aqua);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 80vh;
    width: 100%;
    padding: 5% 10% 2% 10%;
    overflow: scroll;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: -20%;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;

  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .welcomePartial {
    background: #BDC3C7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  button {
    background: #BDC3C7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .inner-body-div {
    background-color: white;
   /* text-align: center; */
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn {
    padding: 2%;
    margin-top: 4%;
  }
  .search-section {
    padding: 2%;
  }
  .button-a-link {
    font-size: 20px;
    font-weight: bold;
    color: aqua;
  }
  h2 {
    margin-top: 2%;
    height: 30px;
    color: rgb(48, 48, 48);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding-bottom: 15px;
  }
  .button-b-link {
    color: rgb(2, 108, 108);
    font-size: 10px;
   
  }
  a:hover {
    color: rgb(48, 48, 48);
  }

  h6 {
    font-weight: bold;
  }
  label {
    font-weight: bold;
    display: block;
  }
  hr {
    border-width: 10px;
    border-style: solid;
    border-color: black;
    width: 100%;
  }
  #logo {
    height: 80px;
    width: auto;
    margin-left: 5%;
  }
  .nav-hidden {
    display: none
  }
  #menu-button {

    border-radius: 20%;
    padding: 15% 0;

  }
  #menu-button a {
    color: rgba(0, 0, 0);
  }
  .nav-row {
    margin-left: 75%;
    margin-top: -30%;
  }
  .box-img {
    width: 200px;
    display: block;
  }
  
/*.img-input {
    width: 100%;
    font-size: 14px;
  } */
  .nationality {
    width: 80%;
  }
  .smaller-text {
    font-size: 14px;
  }

  .carousel-caption {
    background-color: rgba(240, 248, 255, 0.500);
  }

  .carousel-caption p {
    color:#2C3E50;
  }

  .search-1 {
    width: 70%;
  }

  .search-1 option {
    font-size: 14px;
  }

  .search-2 {
    width: 70%;
    margin-top: 7%;
  }

  .search-2-btn {
    padding: 2.5%;
  }

  .error {
    background-color: rgb(225, 71, 71);
    font-weight: bold;
    padding: 2%;
  }


}

/*------------------------TABLET ITERATION---------------------------*/


@media screen and (max-width: 1024px) and (min-width: 768px) {

  html {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  body {
    padding: 2% 10%;
    background: #BDC3C7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: auto;
    height: auto;
    font-size: 18px;
    margin: 0;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  nav {
    background: aqua;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, aqua);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, aqua);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4vw 3vw 4vw 3vw;
    width: 94vw;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .body-div {
    background: aqua;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, aqua);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, aqua);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 80vh;
    width: 100%;
    padding: 5% 10% 2% 10%;
    overflow: scroll;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;

  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .welcomePartial {
    background: #BDC3C7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  button {
    background: #BDC3C7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
 .inner-body-div {
    background-color: white;
    text-align: center;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  .btn {
    padding: 2%;
    margin-top: 4%;
  }
  .search-section {
    padding: 2%;
  }
  .button-a-link {
    font-size: 20px;
    font-weight: bold;
    color: aqua;
  }
  h2 {
    height: 30px;
    color: rgb(48, 48, 48);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    padding-bottom: 15px;
  }
  .button-b-link {
    color: rgb(2, 108, 108);
    font-size: 20px;
    font-weight: bold;
  }
  a:hover {
    color: rgb(48, 48, 48);
  }
  h6 {
    font-weight: bold;
  }
  label {
    font-weight: bold;
    display: block;
  }
  hr {
    border-width: 10px;
    border-style: solid;
    border-color: black;
    width: 100%;
  }
  #logo {
    height: 80px;
    width: auto;
    margin-left: 5%;
  }
  .nav-hidden {
    display: none
  }
  #menu-button {

    border-radius: 20%;
    padding: 15% 0;

  }
  #menu-button a {
    color: rgba(0, 0, 0);
  }
  .nav-row {
    margin-left: 150%;
    margin-top: -30%;
  }
  .box-img {
    width: 400px;
    display: block;
  }
  /*.img-input {
    width: 50%;
    font-size: 14px;
  } */
  .nationality {
    width: 80%;
  }
  .smaller-text {
    font-size: 14px;
  }

  #logo-menu-container {
    padding-left: 10%;
  }

  .carousel-caption {
    background-color: rgba(240, 248, 255, 0.500);
  }

  .carousel-caption p {
    color:#2C3E50;
  }

  .search-1 {
    width: 70%;
  }

  .search-2 {
    width: 100%;
  }

  .search-2-btn {
    margin-top: 8%;
    padding: 4%;
  }

  .error {
    background-color: rgb(225, 71, 71);
    font-weight: bold;
    padding: 2%;
  }

}


/*-----------------------LAPTOP ITERATION---------------------------*/



@media screen and (max-width: 1440px) and (min-width: 1025px) {
  #menu-button {

    position: relative;
    border-radius: 20%;
    padding: 15% 0;

  }

  body {
    padding: 2% 10%;
    background: #BDC3C7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
  }
  nav {
    background: aqua;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, aqua);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, aqua);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  a {
    color: black;
    text-decoration: none;
  }
  .body-div {
    background: aqua;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, aqua);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, aqua);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 80vh;
    width: 100%;
    padding: 2% 10% 2% 10%;
    overflow: scroll;
  }


  .box-img {
    height: 47vh;
    display: block;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 100;
    top: 70px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .welcomePartial {
    background: #BDC3C7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  button {
    background: #BDC3C7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.inner-body-div {
    background-color: white;
    text-align: center;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  .btn {
    padding: 2%;
    margin-top: 2%;
  }
  .search-section {
    padding: 2%;
  }
  .button-a-link {
    font-size: 20px;
    font-weight: bold;
    color: aqua;
  }
  h2 {
    height: 80px;
    color: rgb(48, 48, 48);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .button-b-link {
    color: rgb(2, 108, 108);
    font-size: 20px;
    font-weight: bold;
  }
  a:hover {
    color: rgb(48, 48, 48);
  }
  h6 {
    font-weight: bold;
  }
  label {
    font-weight: bold;
  }
  hr {
    border-width: 10px;
    border-style: solid;
    border-color: black;
    width: 100%;
  }
  label {
    display: block;
  }
  /*.img-input {
    width: 30%;
    font-size: 14px;
  } */

  .carousel-caption {
    background-color: rgba(240, 248, 255, 0.500);
  }

  nav .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .carousel-caption p {
    color:#2C3E50;
  }

  .search-1 {
    width: 100%;
    display: block;
    margin-bottom: 1%;
  }

  .search-2 {
    width: 100%;
  }

  .search-2-btn {
    margin-top: 8%;
    padding: 4%;
  }

  .error {
    background-color: rgb(225, 71, 71);
    font-weight: bold;
    padding: 2%;
  }

  #logo {
    margin-left: 17%;
  }
}


/*------------------------LARGE SCREEN ITERATION---------------------------*/


@media screen and (min-width: 1441px) {

  #menu-button {

    position: relative;
    border-radius: 20%;
    padding: 15% 0;

  }

  body {
    padding: 2% 10%;
    background: #BDC3C7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
  }
  nav {
    background: aqua;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, aqua);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, aqua);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  nav .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .body-div {
    background: aqua;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, aqua);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, aqua);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 80vh;
    width: 100%;
    padding: 2% 10% 2% 10%;
    overflow: scroll;
  }
  .box-img {
    height: 47vh;
    display: block;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 100;
    top: 70px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .welcomePartial {
    background: #BDC3C7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  button {
    background: #BDC3C7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C3E50, #BDC3C7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .inner-body-div {
    background-color: white;
    text-align: center;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn {
    padding: 2%;
    margin-top: 2%;
  }
  .search-section {
    padding: 2%;
  }
  .button-a-link {
    font-size: 20px;
    font-weight: bold;
    color: aqua;
  }
  h2 {
    height: 40px;
    color: rgb(48, 48, 48);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .button-b-link {
    color: rgb(2, 108, 108);
    font-size: 20px;
    font-weight: bold;
  }
  a:hover {
    color: rgb(48, 48, 48);
  }
  h6 {
    font-weight: bold;
  }
  label {
    font-weight: bold;
  }
  hr {
    border-width: 10px;
    border-style: solid;
    border-color: black;
    width: 100%;
  }
  #logo {
    margin-left: 25%;
  }
 /* .img-input {
    width: 30%;
    font-size: 14px;
  } */
  label {
    display: block;
  }

  .carousel-caption p {
    color:#2C3E50;
  }

  .search-1 {
    width: 100%;
    display: block;
    margin-bottom: 2%;
  }

  .search-2 {
    width: 100%;
  }

  .search-2-btn {
    margin-top: 8%;
    padding: 4%;
  }

  .error {
    background-color: rgb(225, 71, 71);
    font-weight: bold;
    padding: 2%;
  }

  .carousel-caption {
    background-color: rgba(240, 248, 255, 0.500);
  }

}