<div class="inner-body-div">

  <h1>Create New Exhibition</h1>
  {{#if errMsg}}
  <p class="error">{{errMsg}}</p>
  {{/if}}

  <form action="/exhibition/create" method="POST">

    <label>Name of Exhibition:</label>
    <input name="exhibitionName" required>
    <label>Description:</label>
    <input name="exhibitionDescription" required>
    <input name="startDay" value="Mon" hidden><br>
    <label>Start Date:</label>
    <input name="firstDate" type="date" required>
    <input name="endDay" value="Sun" hidden><br>
    <label>End Date:</label>
    <input name="lastDate" type="date" required><br>
    <button class='btn btn-primary' type="submit">Create Exhibition</button><br>

  </form>

</div>

<div>

  {{>buttonsPartial}}

</div>
<!--buttons-->