<div class="inner-body-div">
  <h2>Artist Application History</h2>
  <hr>
  {{#each applicationsArray}}
  <h6>Email:</h6>
  <p>{{this.email}}</p>
  <h6>Artwork Name:</h6>
  <p>{{this.artworkName}}</p>
  <h6>Week:</h6>
  <p>{{this.chooseWeek}}</p>
  <h6>Wall Size:</h6>
  <p>{{this.wallsize}}</p>
  <hr>
  {{/each}}
</div>
<div>
  {{>buttonsPartial}}
</div>
<!--buttons-->