<div class="inner-body-div">

  {{#with userInSession}}
  {{>welcomePartial}}
  {{/with}}
  <div>
    <a class="button-b-link" href="/artist/{{userInSessionsId}}">>> &nbsp See Account Details &nbsp &nbsp &nbsp </a>

    <a class="button-b-link" href="/usernameEmailUpdate">>> &nbsp Update Login Details &nbsp &nbsp </a>

    <a class="button-b-link" href="/allArtworks">>> &nbsp View All Artwork &nbsp &nbsp </a>
  </div>
  <img class="col-12 col-sm-12 col-md-12 col-lg-12" src="images/placeholder-box.jpg">
</div>

<div>
  {{>buttonsPartial}}
</div>
<!--buttons-->