<div class="inner-body-div">
  <h2>Thank you for your Application!</h2>

  <p>Please do not refresh this page. To go back to dashboard, or favourites, or application history, click on one of
    the buttons below.</p>
  <p>On approval of your application, a member of our team will contact you to make arrangements for posting and
    installation of your artwork.</p>
  <p>You will also be invited for a private view, to discuss promotion, as well as return of artwork.</p>
  <p>If it gets sold, you will receive 100% of the sales price.</p>
  <p>Processing of application may take up to 5 working days.</p>
</div>

<div>
  {{>buttonsPartial}}
</div>