<div class="inner-body-div">

  <div id="form">
    <h2>Update Username, Email or Password</h2>
    <p>Please ensure all fields are complete.</p>
    <form action="/usernameEmailUpdate" method="POST">

      <label> Username:</label>
        <input class="form-control" type="text" name="username" value="{{userFromDB.username}}" />
      

      <label> Email:</label>
        <input class="form-control" type="email" name="email" value="{{userFromDB.email}}" />
      

      <label> Password:</label>
        <input class="form-control" type="password" name="password" placeholder="********" required /><br>
      

      <button class="btn btn-primary form-control" type="submit">Update account</button><br>

      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
      {{/if}}

    </form>
  </div>
</div>
<div>
  {{>buttonsPartial}}
</div>
<!--buttons-->